.Welcome{
    height: 683px;
    background-image: url(../../assets/4.svg);
    background-repeat: no-repeat;
    background-size: cover;
.welcome{
    margin: 6em 0 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1052px) {
      flex-flow: column;
      justify-content: center;
    }
    img, &__info {
      min-width: 500px;
      width: 40%;
      @media screen and (max-width: 700px) {
        width: 80%;
      }
    }
}
    &__info {
        animation: slideUp .7s linear 1s both,slideIn 1.5s ease 2.5s forwards;
        .text {
            font-family: 'Red Hat Display';
            font-size: 45px;
            font-weight: 500;
        }
        color: white;
      .cent{
        display: flex;
        justify-content: center;
        text-align: center;
        margin:auto;
        padding-top: 10px;
      }
      }
      .person-img{
        animation: opace 1s linear 0.7s backwards,slideInLeft 1.5s ease 2.5s backwards;

      }
}
.tryi
{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.scatter{
  overflow-x: hidden;
}



@keyframes slideUp{
  0% {
    opacity: 0;
    transform: scale(.9) translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-10%);
  }
  }
  
  @keyframes slideIn{
    0% {
      transform: scale(1) translate(-10%);
  }
  100% {
      transform: scale(1) translate(0);
  }
  }
  
  
  @keyframes opace{
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(20%);
  }
  }
  
  @keyframes slideInLeft{
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
  }
