.Welcome{
    height: 683px;
    background-image: url(../../assets/4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    // overflow-x: hidden;
.welcome{
    margin: 6em 0 3em 0;
    // margin-left: 6%;;
    // padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1052px) {
      flex-flow: column;
      justify-content: center;
    }
    img, &__info {
      min-width: 500px;
      // margin: 1em;
      width: 40%;
      @media screen and (max-width: 700px) {
        width: 80%;
      }
    }
}
    &__info {
        // margin-right:5px;

        .text {
            font-family: 'Red Hat Display';
            // margin-right:20px;
            font-size: 45px;
            font-weight: 500;
        }
        // display: inline-flex;
    // justify-content: space-between;
        color: white;
        // display: flex;
        // justify-content: center;
          // position: absolute;
          // transition: linear 59s ease;
        // max-width: 550px;
        // text-align: center;
        // align-items: center;
        // animation: example 1s ease-in-out;
      //   transition: linear 59s ease/;
      .cent{
        display: flex;
        justify-content: center;
        text-align: center;
        margin:auto;
        padding-top: 10px;
      }
      }
}
.tryi
{
  font-family: 'Roboto', sans-serif;
//   font-weight: bold;
//   font-size:18px;
// //   color: #3F3D56;
  text-align: center;
//   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */

// display: flex;
// align-items: center;
}
.scatter{
  overflow-x: hidden;
}
