.Screen{
    background-color: #F4F5F6;
    padding: 50px 0;
    overflow-x: hidden;
    @media screen and (max-width: 560px) {
            // height:250px
      }
    .immg{
        width: 100%;
        @media screen and (max-width: 560px) {
            // text-align: center;
            // img{
                text-align: center;
                width: 100%;
                // min-width: 400px;
            // }
          }
    }
}
